
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kosar {
    background-color: #fff;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#kosar h2 {
    text-align: center;
}

#kosarList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kosarList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 5px;
}

#kosarList li button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#kosarList li button:hover {
    background-color: #d32f2f;
}


#termekek {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

#termekek div {
    background-color: #fff;
    border-radius: 8px;
    width: 200px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#termekek div img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#termekek div button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#termekek div button:hover {
    background-color: #45a049;
}

#kosar p {
    font-size: 18px;
    font-weight: bold;
    text-align: right;

}


